<%- include('./navbar') %>
    <div>
        <h1 class="text-4xl text-center my-5">Your Companies</h1>
        <div class="mx-auto my-10">
            <% if(companies.length> 0) { %>
                <table class="border-2 mx-auto text-center">
                    <tr class="text-white">
                        <th class="border border-black py-1">Company Name</th>
                        <th class="border border-black py-1">Company Type</th>
                    </tr>
                    <% companies.forEach((company)=> { %>
                        <tr class="">
                            <td class="border px-5">
                                <%= company.Name %>
                            </td>
                            <td class="border px-5">
                                <%= company.Type %>
                            </td>
                        </tr>
                        <% }); %>
                </table>
        </div>
        <% } else { %>
            <p class="text-center"><b class="mx-2 text-red-600">*</b>No Companies</p>
            <% }; %>
            <h1 class="text-4xl text-center my-5">Your Job Listing</h1>
            <div class="mx-auto my-10">
                <% if(jobs.length> 0) { %>
                    <table class="border-2 mx-auto text-center">
                        <tr class="text-white">
                            <th class="border border-black py-1">Company Name</th>
                            <th class="border border-black py-1">Jobs</th>
                            <th class="border border-black py-1">Delete</th>
                        </tr>
                        <% jobs.forEach((job)=> { %>
                            <tr class="">
                                <td class="border px-5">
                                    <%= job.Name %>
                                </td>
                                <td class="border px-5">
                                    <%= job.Title %>
                                </td>
                                <td class="border px-5">
                                    <form action="/company/delete/job" method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="j_id" value="<%= job.Id %>">
                                        <button type="submit" class="font-bold text-red-900 underline cursor-pointer">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <% }); %>
                    </table>
            </div>
            <% } else { %>
                <p class="text-center"><b class="mx-2 text-red-600">*</b>No Jobs Added</p>
                <% }; %>
    </div>