<h1>About Job</h1>
<div>
<p>Company: <b><%= job.Name %></b></p>
<p>Company Type: <b><%= job.Type %></b></p>
</div>
<div>
    <p>Job Title: <b><%= job.Title %></b></p>
    <p>Job Location: <b><%= job.Location %></b></p>
    <p>Pay Range: <b><%= job.Pay %></b></p>
</div>
<div>
<p>Description: <b><%= job.Description %></b></p>
</div>

