<%- include('./navbar') %>

    <div class="w-full">
        <div>
            <% if(user.Gender=="Male" ) { %>
                <img src="/images/web/male.png" alt="" class="mx-auto">
                <% } else if(user.Gender=="Female" ) { %>
                    <img src="/images/web/female.png" class="mx-auto" alt="">
                    <% } else { %>
                        <img src="/images/web/other.png" alt="" class="mx-auto">
                        <% } %>
        </div>
        <div class="text-4xl text-center text-white grid gap-2 mb-10">
            <p>Name: <b class="text-black">
                    <%= user.Name %>
                </b></p>
            <p>Email: <b class="text-black">
                    <%= user.Email %>
                </b></p>
            <p>Phone: <b class="text-black">
                    <%= user.Phone ? user.Phone : 'Not Added' %>
                </b></p>
            <p>LinkedIn Profile: <b class="text-black">
                    <%= user.LinkedIn ? user.LinkedIn : 'Not Added' %>
                </b></p>
            <p>Address: <b class="text-black">
                    <%= user.FullAddress ? user.FullAddress : 'Not Added' %>
                </b></p>
            <div>
                <p>Cover Letter</p>
                <p class="text-lg border w-[400px] block mx-auto my-2 p-2">
                    <%= user.CoverLetter ? user.CoverLetter : 'Not Added' %>
                </p>
            </div>
        </div>
    </div>

<div class="">
    <h1 class="text-4xl text-center">Jobs Applied</h1>
    <% if(jobs.length > 0){ %>
        <table class="mx-auto text-center my-10 bg-white rounded-xl">
            <tr class="">
                <th class="py-2 px-5">Job Title</th>
                <th class="border-x py-2 px-5">Company</th>
                <th class="border-x py-2 px-5">Applied On</th>
                <th class="py-2 px-5">Processed</th>
            </tr>
            <% jobs.forEach((job) => { %>
                <tr class="">
                    <td class="border-t py-2 px-5"><%= job.Title %></td>
                    <td class="border-x border-t py-2 px-5"><%= job.Name %></td>
                    <td class="border-x border-t py-2 px-5"><%= job.AppliedOn %></td>
                    <td class="border-t py-2 px-5"><b class="border border-white rounded-full w-3 h-3 inline-block <%= job.IsSeen ? 'bg-green-600' : 'bg-red-600' %>"></b></td>
                </tr>
            <% }); %>
        </table>
    <% } else { %>
        <p class="text-center my-5 text-xl"><b class="text-red-500 mx-2">*</b>You have not applied for any jobs yet.</p>
    <% }; %>
    
</div>