<%- include('./navbar') %>

<h1 class="text-4xl text-center my-5">Jobs Available</h1>
<div class="">
    <% if(jobs.length > 0) { %>
    <table class="mx-auto text-center my-10 bg-white rounded-xl">
        <tr class="">
            <th class="py-2 px-5">Job Title</th>
            <th class="border-x py-2 px-5">Expected Pay</th>
            <th class="border-x py-2 px-5">Location</th>
            <th class="border-x py-2 px-5">Company Name</th>
            <th class="py-2 px-5">Apply</th>
        </tr>
            <% jobs.forEach((job) => { %>
                <tr class="">
                    <td class="border-t py-2 px-5"><%= job.Title %></td>
                    <td class="border-x border-t py-2 px-5"><%= job.Pay %></td>
                    <td class="border-x border-t py-2 px-5"><%= job.Location %></td>
                    <td class="border-x border-t py-2 px-5"><%= job.Name %></td>
                    <td class="border-t py-2 px-5"><form action="/applicant/job/apply" method="POST" enctype="multipart/form-data"><input type="hidden" name="j_id" value="<%= job.Id %>"><button type="submit" class="text-blue-500 font-bold cursor-pointer hover:text-green-500 transition-all duration-300">Click Me!</button></form></td>
                </tr>
            <% }); %>
        <% } else { %>
            <p class="text-center text-xl my-5"><b class="text-red-500 mx-2">*</b>No jobs available at the moment</p>
        <% } %>
    </table>
</div>