<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="bg-blue-500">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="h-screen">
        <% if(flash) { %>
            <% flash.forEach((obj) => { %>
                <div class="<%- obj.type %>">
                    <p><%= obj.message %></p>
                </div>
            <% }); %>
        <% } %>
        <%- body %>
    </main>
    <footer class="relative bottom-0">
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>