<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<% if(flash) { %>
    <% flash.forEach((obj) => { %>
        <%- include('../partials/flash.ejs', {type: obj.type, message: obj.message}) %>
    <% }); %>
<% } %>
<body class="bg-blue-500">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="h-screen">
        <%- body %>
    </main>
    <footer class="relative bottom-0">
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>