<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="bg-sky-800">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main class="">
        <% if(flash) { %>
            <% flash.forEach((obj) => { %>
                <div class="<%- obj.type %>">
                    <p><%= obj.message %></p>
                </div>
            <% }); %>
        <% } %>
        <%- body %>
    </main>
    <footer class="sticky bottom-0">
        <%- include('../partials/footer') %>
    </footer>
    <style>
        .error {
            background-color: rgb(165, 12, 12);
            color: white;
            text-align: center;}
          .success{
            background-color: rgb(8, 143, 8);
            color: white;
            text-align: center;}
    </style>
</body>
</html>